
  <div class="main-section">
    <div class="main-content">
      <div class="section-block">
        <a class="service-llink-block w-inline-block" (click) = "globals.setCurrentSubJob('service')" [routerLink]="['/sub-jobs-section']">
          <div class="hr">שירות</div>
          <img sizes="(max-width: 767px) 93vw, 530px" src="images/ibin-siraj-261547_Easy-Resize.com.jpg" srcset="images/ibin-siraj-261547_Easy-Resize.com-p-1080.jpeg 1080w, images/ibin-siraj-261547_Easy-Resize.com.jpg 1280w" width="530">
        </a>
      </div>
      <div class="section-block">
        <a class="hospitality-link-block w-inline-block" (click) = "globals.setCurrentSubJob('hospitality')" [routerLink]="['/sub-jobs-section']">
          <img sizes="(max-width: 767px) 93vw, 530px" src="images/teapot-2174333_1920_Easy-Resize.com.jpg" srcset="images/teapot-2174333_1920_Easy-Resize.com-p-1080.jpeg 1080w, images/teapot-2174333_1920_Easy-Resize.com.jpg 1280w" width="530">
          <div class="hospitality">אירוח וניקיון</div>
        </a>
      </div>
    </div>
  </div>