  <div class="recruiter-hero-section">
    <div class="recruiter-hero-container w-container">
      <h1 class="heading-7">תהליך גיוס קצר ואפקטיבי</h1>
      <div class="h2-content">
        <div class="sub-content-1">
          <h3 class="heading-11">אבחון אונליין עוזר לך לזהות מועמדים עם תכונות חזקות</h3>
          <h3 class="h3-heading-2">אין צורך בראיונות ומרכזי הערכה</h3>
        </div>
        <div class="sub-content-1">
          <h3 class="heading-11">מערכת בינה מלאכותית מביאה לך מועמדים עם התאמה גבוהה &nbsp;לתפקיד</h3>
          <h3 class="h3-heading-2">אין צורך במיון קורות חיים</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-section" id="Home-page-second-section">
    <div class="container-5 w-container">
      <h1 class="heading">אלגוריתם שפיתחנו מנתח את הדרישות התפקיד ובונה פרופיל פסיכולוגי של מועמד האידאלי</h1>
    </div>
  </div>
  <div class="recruiting-process-section">
    <h1 class="heading-12">כך זה עובד</h1>
    <div class="recruiting-process-steps">
      <div class="recruiting-process-block"><img class="recruiter-benefits-icon" src="images/שליטה.svg" width="226">
        <p class="recruiter-benefis-text">בהתאם להחלטה שלך מועמדים&nbsp;מקבלים לינק לאבחון ותוצאות נשלחות אליך בזמן אמת</p>
      </div>
      <div class="recruiting-process-block"><img src="images/שליטה.svg" width="226">
        <p class="recruiter-benefis-text">המערכת ממתינה לאישור שלך לערוך אבחון לכל המועמדים או חלק מהם</p>
      </div>
      <div class="recruiting-process-block"><img src="images/שליטה.svg" width="226">
        <p class="recruiter-benefis-text">בוחר אנשים עם הענות מכסימאלית לפרופיל ושולח לך את הרשימה המדורגת</p>
      </div>
    </div>
  </div>
  <div class="subheading">
    <h2 class="heading-6">למה כדאי לגייס דרכינו</h2>
  </div>
  <div class="recruiter-benefits">
    <div class="div-block-14">
      <div class="div-block-15">
        <div class="text-block-4">חסכון בזמן, מאמץ וכסף</div>
      </div>
      <div class="div-block-15">
        <div class="text-block-4">איכות מועמדים שבחרת</div>
      </div>
      <div class="div-block-15">
        <div class="text-block-4">תמיכה מדעית שמבוססת על טכנולוגיות המתקדמות ביותר</div>
      </div>
    </div>
  </div>
