
  <div class="main-section">
    <div class="main-content">
      <div class="section-block">
        <a class="industry-block w-inline-block" (click) = "globals.setCurrentSubJob('industry')" [routerLink]="['/sub-jobs-section']">
          <img height="250" sizes="(max-width: 479px) 87vw, 350px" src="images/chester-alvarez-644_Easy-Resize.com.jpg" srcset="images/chester-alvarez-644_Easy-Resize.com-p-500.jpeg 500w, images/chester-alvarez-644_Easy-Resize.com-p-800.jpeg 800w, images/chester-alvarez-644_Easy-Resize.com.jpg 886w" width="350">
          <div class="industry">ייצור, בנייה ואחזקה</div>
        </a>
      </div>
      <div class="section-block">
        <a class="technnology-block w-inline-block" (click) = "globals.setCurrentSubJob('technology')" [routerLink]="['/sub-jobs-section']">
          <img height="250" sizes="(max-width: 479px) 87vw, 350px" src="images/294c28_8e607e8f21724436affe7b670964f225-mv2_d_5616_3744_s_4_2_Easy-Resize.com.jpg" srcset="images/294c28_8e607e8f21724436affe7b670964f225-mv2_d_5616_3744_s_4_2_Easy-Resize.com-p-1080.jpeg 1080w, images/294c28_8e607e8f21724436affe7b670964f225-mv2_d_5616_3744_s_4_2_Easy-Resize.com.jpg 1280w" width="350">
          <div class="technology">טכנולוגיה</div>
        </a>
      </div>
      <div class="section-block">
        <a class="transport-link-block w-inline-block" (click) = "globals.setCurrentSubJob('transport')" [routerLink]="['/sub-jobs-section']">
          <img height="250" sizes="(max-width: 479px) 87vw, 350px" src="images/1_Easy-Resize.com.jpg" srcset="images/1_Easy-Resize.com-p-500.jpeg 500w, images/1_Easy-Resize.com-p-800.jpeg 800w, images/1_Easy-Resize.com-p-1080.jpeg 1080w, images/1_Easy-Resize.com.jpg 1280w" width="350">
          <div class="transport">תחבורה, שליחים, רכב</div>
        </a>
      </div>
    </div>
  </div>
