<div class="main-section">
    <div class="main-content">
      <div class="section-block">
        <a class="finance-link-block w-inline-block" (click) = "globals.setCurrentSubJob('finance')" [routerLink]="['/sub-jobs-section']">
          <img height="250" sizes="(max-width: 479px) 87vw, 350px" src="images/294c28_0d55323d0cac40df9072a8cb8bc9867d-mv2_Easy-Resize.com.jpg" srcset="images/294c28_0d55323d0cac40df9072a8cb8bc9867d-mv2_Easy-Resize.com-p-1080.jpeg 1080w, images/294c28_0d55323d0cac40df9072a8cb8bc9867d-mv2_Easy-Resize.com.jpg 1280w" width="350">
          <div class="finanace">כספים</div>
        </a>
      </div>
      <div class="section-block">
        <a class="human-resourse-link-block w-inline-block" (click) = "globals.setCurrentSubJob('humanResource')" [routerLink]="['/sub-jobs-section']">
          <img height="250" sizes="(max-width: 479px) 87vw, 350px" src="images/6021688217_5f1faa3c82_b_Easy-Resize.com.jpg" srcset="images/6021688217_5f1faa3c82_b_Easy-Resize.com-p-500.jpeg 500w, images/6021688217_5f1faa3c82_b_Easy-Resize.com-p-1080.jpeg 1080w, images/6021688217_5f1faa3c82_b_Easy-Resize.com.jpg 1280w" width="350">
          <div class="human-resourse">משאבי אנוש</div>
        </a>
      </div>
      <div class="section-block">
        <a class="administartion-link-blockadministartion-link-block w-inline-block" (click) = "globals.setCurrentSubJob('administration')" [routerLink]="['/sub-jobs-section']">
          <img height="250" sizes="(max-width: 479px) 87vw, 350px" src="images/294c28_03046c66df654115a7ebe267f60cea62-mv2_Easy-Resize.com.jpg" srcset="images/294c28_03046c66df654115a7ebe267f60cea62-mv2_Easy-Resize.com-p-1080.jpeg 1080w, images/294c28_03046c66df654115a7ebe267f60cea62-mv2_Easy-Resize.com.jpg 1280w" width="350">
          <div class="administration">עבודה אירגונית</div>
        </a>
      </div>
    </div>
</div>

