.sub-field-link-block {
  position: static;
  background-color: #39aca7;
}

.sub-field {
  position: absolute;
  left: 0px;
  top: 0%;
  right: 0px;
  bottom: 0px;
  padding-top: 50%;
  background-image: -webkit-linear-gradient(270deg, rgba(48, 100, 100, .3), rgba(48, 100, 100, .3));
  background-image: linear-gradient(180deg, rgba(48, 100, 100, .3), rgba(48, 100, 100, .3));
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 35px;
  font-weight: 100;
  text-align: center;
}

.my-section-block {
  position: relative;
  margin-right: 30px;
  margin-bottom: 150px;
  margin-left: 0px;
  border: 1px solid #fff;
  background-color: #0098ff;
  box-shadow: 4px 4px 3px 0 #0e4163;
}
