
  <div class="main-section">
    <div class="main-content">
      <div class="my-section-block" *ngFor="let subFieldData of subFields[globals.currentSubField]">
        <a class="technnology-block w-inline-block" (click) = "globals.currentSubSubField = subFieldData.subSubField" [routerLink]="['/sub-sub-field']">
          <div class="sub-field">{{subFieldData.name}}</div>
          <img [height]=subFieldData.height [sizes]=subFieldData.sizes [src]=subFieldData.image [srcset]=subFieldData.srcset [width]=subFieldData.width>
        </a>
      </div>
    </div>
  </div>

