
   <div class="nav-bar">
    <div class="navbar" data-animation="default" data-collapse="medium" data-duration="400">
      <div class="container-2 w-container">
        <nav class="nav-bar-right " role="navigation" >
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/about']" >אודות</a>
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/contact']">צור קשר</a>
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/career-dev']" >פיתוח קריירה</a>
          <a class="nav-link" >אני מגייס</a>
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/search-job']" >חיפוש עבודה</a>
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/']" >דף הבית</a>
        </nav>
        <nav class="nav-bar-left " role="navigation" >
          <a class="nav-link" *ngIf="authService.loggedIn()" (click)="onLogoutClick()" href="#">התנתק</a>
          <a class="nav-link" *ngIf="authService.loggedIn()" (click)="this.globals.goToProfile()" >פרופיל</a>
          <a class="nav-link" *ngIf="!authService.loggedIn()" (click) = "this.globals.showWrapperWho = true" >הרשמה</a>
          <a class="nav-link" *ngIf="!authService.loggedIn()" (click) = "this.globals.showLoginWrapper = true" >כניסה</a>      
        </nav>
      </div>
    </div>
   </div>
