
  <div class="main-section">
    <div class="main-content">
      <div class="section-block">
        <a class="nature-link-block w-inline-block"  (click) = "globals.setCurrentSubJob('nature')" [routerLink]="['/sub-jobs-section']">
          <div class="naature">טבע וסביבה</div>
          <img height="350" sizes="(max-width: 767px) 93vw, 530px" src="images/vladimir-kudinov-12755_Easy-Resize.com.jpg" srcset="images/vladimir-kudinov-12755_Easy-Resize.com-p-500.jpeg 500w, images/vladimir-kudinov-12755_Easy-Resize.com-p-800.jpeg 800w, images/vladimir-kudinov-12755_Easy-Resize.com-p-1080.jpeg 1080w, images/vladimir-kudinov-12755_Easy-Resize.com.jpg 1280w" width="530">
        </a>
      </div>
      <div class="section-block">
        <a class="security-link-block w-inline-block"  (click) = "globals.setCurrentSubJob('secutiry')" [routerLink]="['/sub-jobs-section']">
          <img height="350" sizes="(max-width: 767px) 93vw, 530px" src="images/294c28_f93a6b02d87b44919da2a79626c5f98a-mv2_d_5760_3840_s_4_2-1_Easy-Resize.com.jpg" srcset="images/294c28_f93a6b02d87b44919da2a79626c5f98a-mv2_d_5760_3840_s_4_2-1_Easy-Resize.com-p-500.jpeg 500w, images/294c28_f93a6b02d87b44919da2a79626c5f98a-mv2_d_5760_3840_s_4_2-1_Easy-Resize.com-p-800.jpeg 800w, images/294c28_f93a6b02d87b44919da2a79626c5f98a-mv2_d_5760_3840_s_4_2-1_Easy-Resize.com-p-1080.jpeg 1080w, images/294c28_f93a6b02d87b44919da2a79626c5f98a-mv2_d_5760_3840_s_4_2-1_Easy-Resize.com.jpg 1280w" width="530">
          <div class="security">בטחון</div>
        </a>
      </div>
    </div>
  </div>
