
<div class="main-section">
    <div class="main-content">
      <div class="section-block">
        <a class="medicine-link-block w-inline-block" (click) = "globals.setCurrentSubJob('medicine')" [routerLink]="['/sub-jobs-section']">
          <img height="250" sizes="(max-width: 479px) 87vw, 350px" src="images/294c28_b9de5ee990d246dfae38c219eec586aa-mv2_Easy-Resize.com.jpg" srcset="images/294c28_b9de5ee990d246dfae38c219eec586aa-mv2_Easy-Resize.com-p-800.jpeg 800w, images/294c28_b9de5ee990d246dfae38c219eec586aa-mv2_Easy-Resize.com-p-1080.jpeg 1080w, images/294c28_b9de5ee990d246dfae38c219eec586aa-mv2_Easy-Resize.com.jpg 1280w" width="350">
          <div class="medicine">רפואה ובריאות</div>
        </a>
      </div>
      <div class="section-block">
        <a class="science-link-block w-inline-block" (click) = "globals.setCurrentSubJob('science')" [routerLink]="['/sub-jobs-section']">
          <img height="250" sizes="(max-width: 479px) 87vw, 350px" src="images/294c28_bdaf28e1124e41ad8c94acaa0bbca2c4-mv2_d_5184_3456_s_4_2_Easy-Resize.com.jpg" srcset="images/294c28_bdaf28e1124e41ad8c94acaa0bbca2c4-mv2_d_5184_3456_s_4_2_Easy-Resize.com-p-500.jpeg 500w, images/294c28_bdaf28e1124e41ad8c94acaa0bbca2c4-mv2_d_5184_3456_s_4_2_Easy-Resize.com-p-800.jpeg 800w, images/294c28_bdaf28e1124e41ad8c94acaa0bbca2c4-mv2_d_5184_3456_s_4_2_Easy-Resize.com-p-1080.jpeg 1080w, images/294c28_bdaf28e1124e41ad8c94acaa0bbca2c4-mv2_d_5184_3456_s_4_2_Easy-Resize.com.jpg 1264w" width="350">
          <div class="science">מדעיים מדויקים</div>
        </a>
      </div>
      <div class="section-block">
        <a class="social-science-link-block w-inline-block" (click) = "globals.setCurrentSubJob('socialScience')" [routerLink]="['/sub-jobs-section']">
          <img height="250" sizes="(max-width: 479px) 87vw, 350px" src="images/rsz_294c28_779783bc8ee24f24863ba17614808d98-mv2_d_5013_4634_s_4_2.png" srcset="images/rsz_294c28_779783bc8ee24f24863ba17614808d98-mv2_d_5013_4634_s_4_2-p-500.png 500w, images/rsz_294c28_779783bc8ee24f24863ba17614808d98-mv2_d_5013_4634_s_4_2.png 625w" width="350">
          <div class="social-science">מדעי החברה</div>
        </a>
      </div>
    </div>
</div>

